<div id="<%= dom_id content %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= content.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= markdown content.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publish date:</strong>
    <%= content.publish_date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this content", content, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this content", edit_content_path(content), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
