<%= form_with(model: grant, class: "contents") do |form| %>
  <% if grant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
        <% grant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :right_id %>
    <%= form.collection_select :right_id, Right.ordered.ordered.all, :id, :oper_resource, options = {:order => 'resource ASC', :prompt => true}, html_options = {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" }%>
  </div>

  <div class="my-5">
    <%= form.label :role_id %>
    <%= form.collection_select :role_id, Role.all, :id, :name, options = {:order => 'resource ASC', :prompt => true},  html_options = {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
